*, :after, :before{
  border: 0 solid #d6dae5;  
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #fcfcfc;
    color: #464951;
    font-family: sans-serif;
}

body{
    margin: 0;
}

.relative{
    position: relative;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.md\:bg-green-100{
    background-color: #eafaf1;
}

.container{
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.md\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex{
    display: flex; /* Nyt tämän boxin lapset liikkuvat joustavasti */
}

.flex-wrap{
    flex-wrap: wrap;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

a{
    color: #00ad6a;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 700;
}

.mr-10{
    margin-right: 2.5rem;
}

fieldset, ol, ul{
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

.md\:flex{
    display: flex;
}

.no-underline{
    text-decoration: none;
}

.button:hover{
transform: translate3d(5px, -5px, 0);
}

.px-4{
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.button-outline {
    color: #00ad6a;
    border-color: #00ad6a;
    background-color: transparent;
}


.button {
    position: relative;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    border-width: 2px;
    text-align: center;
    cursor: pointer;
}

*, :after, :before {
    border: 0 solid #d6dae5;
}


.button{
    position: relative;
    display: inline-block;
}












main {
    display: block;
}

*, :after, :before {
    border: 0 solid #d6dae5;
}




*, :after, :before {
    box-sizing: inherit;
}





body{
    -webkit-font-smoothing: antialiased;
    display:block
}


html{
    line-height: 1.5;
    box-sizing: border-box;
    webkit-text-size-adjust:100%;
}






.bg-green-100{
    background-color: #eafaf1;
}


min-width
    text-align center



min-width
    max-width
   

.w-full {
width: 100%;
}


*, :after, :before {
    border: 0 solid #d6dae5;
}

*, :after, :before {
    box-sizing: inherit;
}

.h1, .h2 {
    letter-spacing: -2px;
}

.h1 {
    font-size: 60px;
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    color: #080c16;
}

dl, figure, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

*, :after, :before {
    border: 0 solid #d6dae5;
}

*, :after, :before {
    box-sizing: inherit;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.lg\:text-center {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

*, :after, :before {
    border: 0 solid #d6dae5;
}

*, :after, :before {
    box-sizing: inherit;
}


*, :after, :before {
    border: 0 solid #d6dae5;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    border: 0 solid #d6dae5;
}
*, :after, :before {
    box-sizing: inherit;
}


.lg\:flex {
    display: flex;
}

.-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem;
}

.items-center {
    align-items: center;
}

*, :after, :before {
    border: 0 solid #d6dae5;
}


*, :after, :before {
    box-sizing: inherit;
}

*, :after, :before {
    border: 0 solid #d6dae5;

}
*, :after, :before {
    box-sizing: inherit;
}


min-width: 1024px;
.lg\:w-1\/3 {
    width: 33.33333%;
}

min-width: 1024px
.lg\:p-8 {
    padding: 2rem;
}

(min-width: 1024px)
.lg\:flex {
    
    display: flex;
}

*, :after, :before {
    border: 0 solid #d6dae5;
}

*, :after, :before {
    box-sizing: inherit;
}

*, :after, :before {
    border: 0 solid #d6dae5;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    border: 0 solid #d6dae5;
}
*, :after, :before {
    box-sizing: inherit;
}

<!-- <div class="md-max:mb-8 lg:p-8 lg:flex lg:w-1/3"></div> --> Tehty jatkuu siitä eteenpäin.




