*, :after, :before{
  border: 0 solid #d6dae5;  
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #fcfcfc;
    color: #464951;
    font-family: sans-serif;
}

body{
    margin: 0;
}

.relative{
    position: relative;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.md\:bg-green-100{
    background-color: #eafaf1;
}

.container{
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.md\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex{
    display: flex; /* Nyt tämän boxin lapset liikkuvat joustavasti */
}

.flex-wrap{
    flex-wrap: wrap;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

a{
    color: #00ad6a;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 700;
}

.mr-10{
    margin-right: 2.5rem;
}

fieldset, ol, ul{
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

.md\:flex{
    display: flex;
}

.no-underline{
    text-decoration: none;
}

.button:hover{
transform: translate3d(5px, -5px, 0);
}







.button{
    position: relative;
    display: inline-block;
}

*, :after, :before{
    border: 0 solid #d6dae5;
    box-sizing: inherit;
}

body{
    -webkit-font-smoothing: antialiased;
}

html{
    font-family: sans-serif;
    color: #464951;
    background-color: #fcfcfc;
    line-height: 1.5;
    box-sizing: border-box;
}
.bg-green-100{
    background-color: #eafaf1;
}




.lg\:pb-10{
    padding-bottom: 2.5rem;
}



.lg\:mb-10{


margin-bottom: 2.5rem;
}

.lg\:justify-centre{
    justify-content: center;
}
.lg\:flex{
    display: flex;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}